@import url("http://fonts.cdnfonts.com/css/poppins");
html,
body {
  background: url("../public/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-card {
  background: rgba(0, 0, 0, 0.205);
  backdrop-filter: saturate(180%) blur(10px);
  border-radius: 1em;
  height: 90vh;
}

.table-repos {
  border-radius: 1em;
  font: white;
}

td,
th {
  color: white;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: rgba(0, 0, 0, 0.356);
  color: white;
}
